<ul class="desktop button-container">
	<li><%= link_to "Contact Us", home_path(anchor: "contact-form"), class: "button" %></li>
</ul>
<ul class="mobile button-container mobile-contact">
	<li><%= link_to "Email Us", home_path(anchor: "contact-form"), class: "button tiny" %></li>
	<li><a href="tel:14027145539" class="button tiny">Call Us</a></li>
</ul>