<a href="https://twitter.com/srcomaha" target="_blank">
	<%= image_tag("twitter.png", alt: "twitter", title: "Twitter") %>
</a>
<a href="https://www.facebook.com/people/Src-Contractors/100007303514383" target="_blank">
	<%= image_tag("facebook.png", alt: "facebook", title: "Facebook") %>
</a>
<a href="https://plus.google.com/u/0/107175311532195730021/posts" target="_blank">
	<%= image_tag("google-plus.png", alt: "google+", title: "Google+") %>
</a>
<a href="https://www.linkedin.com/pub/src-contracting-mike-schumacher/aa/102/696" target="_blank">
	<%= image_tag("linkedin.png", alt: "linkedin", title: "LinkedIn") %>
</a>