<a href="#" target="_blank">
	<%= image_tag("twitter.png", alt: "twitter", title: "Twitter") %>
</a>
<a href="#" target="_blank">
	<%= image_tag("facebook.png", alt: "facebook", title: "Facebook") %>
</a>
<a href="#" target="_blank">
	<%= image_tag("google-plus.png", alt: "google+", title: "Google+") %>
</a>
<a href="#" target="_blank">
	<%= image_tag("linkedin.png", alt: "linkedin", title: "LinkedIn") %>
</a>