<h1>About Us</h1>
<ul class="button-container contact">
	<li><a class="button">Contact Us</a></li>
</ul>
<ul class="button-container mobile-contact">
	<li><a class="button tiny">Email Us</a></li>
	<li><a class="button tiny">Call Us</a></li>
</ul>