<section class="sub-page about-page">

	<div class="title row">
		<h1 class="desktop title-bar left-bar medium-4 large-4 columns"></h1>
		<h1 class="medium-4 large-4 columns">About Us</h1>
		<h1 class="desktop title-bar right-bar medium-4 large-4 columns"></h1>	
	</div>

	<article class="row">
		<div class="about-content medium-7 large-7 columns">
			<p><span class="bold">SRC Contractor</span> owner Mike Schumacher began construction as a framer at the age of 18.  He completed his Construction Management Degree and earned a job as a superintendent for a new construction company.  During that time he perfected his ability to install tile, wood flooring, trim work, and made some great relationships with many sub-contractors.</p>  
			<p>After seven years of new construction knowledge,  SRC was started and began the first remodel project for a District 66 homeowner who hired us to do a complete master bedroom and bathroom remodel.</p>
			<p>Since then we have added employees, equipment, and have built a business through repeat customers and referrals from past customers.  We show up on time, we clean up, and we finish the job every time.  Mike’s communication with the customer is key to a happy customer and he is on the job site.</p>  <p>Erin Schumacher works as the office administrator scheduling estimates and customer remodel projects.</p>
		</div>
		<aside class="medium-5 large-5 end columns">
			<ul class="points">
				<li>Licensed</li>
				<li>Insured</li>
				<li>Graduate of Milford College in Contruction Management 2004</li>
				<li>Honor Roll Member of the <a href="http://www.bbb.org/nebraska/business-reviews/construction-and-remodeling-services/src-home-remodeling-in-omaha-ne-300069900" target="_blank">BBB</a></li>
			</ul>
		</aside>
	</article>	

	<%= render 'contact_us_buttons' %>

</section>