<% content_for :title do %>Home<% end %>

<div class="top-bg-image">
	<div class="texture"></div>
</div>

<div class="motto-container">
	<div class="motto">REMODEL, RENOVATE, REINVENT</div><br>
	<div class="motto cursive">...your home</div>
</div>

<div class="quote-container">
	<div class="quote">"Mike’s quality workmanship speaks for itself. But the most important quality for us was his ability to complete each project on time and at or under our budget."</div>
	<div class="quote-author">- John and Missi Schembari</div>
</div>

<section class="modules">

	<div class="module left">
		<h1>About Us</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.</p>
		<button class="lone-button">Learn more</button>
	</div>

	<div class="module left">
		<h1>Our Projects</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.</p>
		<button class="lone-button">See our work</button>
	</div>

	<div class="module left">
		<h1>Talk To Us</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.</p>
		<button class="lone-button">Contact us</button>
	</div>


</section>