<% content_for :title do %>Home<% end %>
<h1>Home Page</h1>
<div class="motto">REMODEL, RENOVATE, REINVENT</div>
<div class="motto">...your home</div>
<div class="quote">Customer quote goes right here....Lorem ipsum.</div>