<% content_for :title do %>Home<% end %>

<div class="top-bg-image">
	<div class="texture"></div>
</div>

<div class="motto-container">
	<div class="motto">REMODEL, RENOVATE, REINVENT</div><br>
	<div class="motto cursive">...your home</div>
</div>

<div class="quote-container">
	<div class="quote">"Mike’s quality workmanship speaks for itself. But the most important quality for us was his ability to complete each project on time and at or under our budget."</div>
	<div class="quote-author">- John and Missi Schembari</div>
</div>