<% content_for :title do %>Home<% end %>

<div class="motto-container">
	<div class="motto">REMODEL, RENOVATE, REINVENT</div><br>
	<div class="motto cursive">...your home</div>
</div>

<div class="quote-container">
	<div class="quote">"Mike’s quality workmanship speaks for itself. But the most important quality for us was his ability to complete each project on time and at or under our budget."</div>
	<div class="quote-author">- John and Missi Schembari</div>
</div>

<div class="top-bg-image">
	<div class="texture"></div>
</div>

<section class="modules">

	<div class="module left about-us">
		<h1>About Us</h1>
		<p>Learn about us and how we came to be.</p>
		<a class="lone-button">Learn more</a>
	</div>

	<div class="module left projects">
		<h1>Our Projects</h1>
		<p>We do kitchens, baths, basements, and more.</p>
		<a class="lone-button">See our work</a>
	</div>

	<div class="module left contact">
		<h1>Talk To Us</h1>
		<p>Drop us an email or give us call.</p>
		<a class="lone-button">Contact us</a>
	</div>


</section>