<% content_for :title do %>Home<% end %>

<div class="top-bg-image">
	<div class="texture"></div>
</div>

<div class="motto">REMODEL, RENOVATE, REINVENT</div>
<div class="motto">...your home</div>
<div class="quote">Customer quote goes right here....Lorem ipsum.</div>