.about-page {
	background-image: image_url('brown_texture.jpg');

	h1 {
		color: #fff;
		margin: 150px auto 0 auto;
	}

	p {
		text-align: justify;
		font-size: 1.2em;
		color: #fff;
	}

	.about-content {
		text-align: center;
	}

	article {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	aside {

		ul {
			background-color: #C0262C;
			text-align: left;
			color: #fff;
			padding: 20px 20px 20px 0;
			margin-top: 10px;
			border-radius: 3px;

			li {
				margin-left: 50px;
				font-size: 1.4em;
				margin-bottom: 15px;

			}
		}
	}

}