.about-page {
	background-image: image_url('brown_texture2.jpg');

	h1 {
		color: #fff;
		margin: 150px auto 0 auto;
	}

	p {
		text-align: justify;
		font-size: 1.2em;
		color: #fff;
	}

	.about-content {
		text-align: center;
	}

	article {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	aside {

		ul {
			background-color: rgba(192, 38, 44, 0.8);
			text-align: left;
			color: #fff;
			padding: 20px 20px 20px 0;
			margin-top: 10px;
			border-radius: 3px;

			li {
				margin-left: 50px;
				font-size: 1.4em;
				margin-bottom: 15px;

			}
		}
	}

}

@media (max-width: 40em) {

	.about-page {

		h1 {
			margin: 60px 0 0 0;
		}

		.about-content {

			p {
				text-align: left;
			}

		}

		ul {
			margin-left: 0;
		}

		aside ul li {
			font-size: 1.25em
		}

	}

}