html {
	font-size: 100%;
}

body {
	font-size: 1em;
	font-family: georgia, serif;
	text-align: center;
	color: #272727;
	padding: 0px;
	margin: 0px;
	background-color: #000;
	width: 100%;
}

.left {
	float: left;
}

.right {
	float: right;
}

.content-wrap {
	margin: 0 10%;
}

nav {

	width: 100%;
	display: inline-block;
	margin-top: 20px;

	.logo {

		img {
			width: 60%;
		}

	}

	ul {
		display: none;
	}

	.menu-button {
		display: inline-block;
		width: 100px;
		padding: 10px 20px;
		text-decoration: none;
		background-color: #fff;
		color: #272727;
		opacity: 0.8;
		text-transform: uppercase;
	}

	.menu-button:hover {
		opacity: 1;
	}

	.menu-button:active {
		opacity: 1;
	}

}

/* Phones */
@media only screen and (min-width: 320px) and (max-width: 568px) {

	.content-wrap {
		margin: 0 5%;
	}

	nav {

		.logo {
			width: 100px;

			img {
				width: 100px;
			}

		}

		.menu-button {
			width: 75px;
			margin-top: 10px;
			float: right;
		}
	}

}

@media only screen and (min-width: 569px) and (max-width: 767px) {

	.content-wrap {
		margin: 0 5%;
	}

	nav {

		.logo {
			width: 234px;

			img {
				width: 60%;
			}

		}

		.menu-button {
			width: 100px;
			margin-top: 20px;
			float: right;
		}
	}

}



/* Tablets */
@media only screen and (min-width: 768px) {

	.content-wrap {
		margin: 0 5%;
	}

	nav {

		.logo {
			width: 234px;

			img {
				width: 60%;
			}
	
		}

		ul {
			display: block;
			text-align: right;
			padding-top: 25px;
		}

		li {
			display: inline-block;
			margin-left: 1.5625em;

			a {
				text-decoration: none;
				color: #fff;
				text-transform: uppercase;
			}
		}
		.menu-button {
			display: none;
		}
	}

}

/* Small Laptops */
@media only screen and (min-width: 1024px) {

	.content-wrap {
		margin: 0 10%;
	}

	nav {

		.logo {
			
			img {
				width: 100%;
			}

		}

	}

}

/* Desktops & Laptops */
@media only screen and (min-width: 1224px) {


}

/* Large screens */
@media only screen and (min-width: 1824px) {


}