@import 'foundation_and_overrides';
@import 'home';
@import 'about';
@import 'projects';

h1 {
	text-transform: uppercase;
	margin: 20px 0 50px 0;
	color: rgba(103, 103, 103, 0.9);
	letter-spacing: 1px;
}

h2 {
	color: #676767;
	margin: 50px 0;
	letter-spacing: 1.5px;
}

p {
	color: #676767;
}

section {
	text-align: center;
	padding: 50px 0;
}

textarea {
	height: 100px;
}

.button {
	border-radius: 3px;
}

.contact {
	list-style-type: none;
}

.mobile-contact {
	display: none;
}

.static {

	ul {

		li {
			display: inline-block;
			margin: 50px 50px 0 0;

			a {
				color: #fff;
				text-transform: uppercase;
				transition: all 0.75s ease;
			}

			a:hover {
				color: #c0262c;
				text-decoration: none;
			}
		}
	}
}

.logo {
	margin: 35px 0 0 5%;
	position: absolute;
}

.small-logo {
	margin-left: 5%;
}

[data-magellan-expedition] {
	display: none;
}

[data-magellan-expedition].fixed {
	display: block;
	box-shadow: 0 1px 2px 2px #888;
}

.sub-nav {
	text-transform: uppercase;
	float: right;
	padding-top: 14px;

	a {
		color: #fff !important;
		transition: color 0.75s ease;
	}

	a:hover {
		color: #C0262C !important;
	}
}

.sub-page {
	text-align: center;
}

.sub-section {
	width: 50%;
	margin: 0 auto;
	padding: 0;
}

footer {
	background-color: #272727;
	padding: 30px 0;


	p {
		color: #fff;
		margin: 0;
		font-size: 0.75em;
	}
}

@media (max-width: 40em) {
	.menu-button {
		display: inline-block;
		width: 100px;
		padding: 10px 20px;
		text-decoration: none;
		background-color: rgba(255, 255, 255, 0.8);
		color: #272727;
		text-transform: uppercase;
	}

	nav {
		ul {
			display: none;
		}
	}

	.logo img {
		width: 50%;
	}

	.mobile-contact {

		padding: 40px 0;
		display: inline-block;
		list-style-type: none;

		ul {
			
		}

		li {
			display: inline-block;
			margin: 0 20px;
		}
	}
}