@import 'globals';

.banner {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 650px;
	background: image-url('kitchen2.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: -1;

	// .texture {
	// 	height: 100%;
	// 	background-image: image-url('grey_texture.png');
	// }

}

.motto-container {

	padding-top: 220px;
	text-align: right;
	font-size: 2.25em;

	.motto {
		margin-top: 15px;
		text-align: center;
		display: inline-block;
		letter-spacing: 2px;
		color: #000;
		background-color: rgba(255, 255, 255, 0.8);
		padding: 10px;
	}

	.cursive {
		font-family: cursive;
		letter-spacing: 1px;
	}

}

.quote-container {

	margin: 50px 0 0 0;
	padding: 20px;
	text-align: justify;
	line-height: 1.5;
	letter-spacing: 1.15px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.7);
	font-size: 0.75em;

	.quote-author {
		margin-top: 15px;
		font-style: italic;
	}

}

.modules {

	color: #272727;
	background-color: #fff;
	width: 100%;
	margin: 0 auto;
	padding: 60px 0;

	li {
		background-repeat: no-repeat;
		background-position: 70px 5px;
		text-align: left;
		padding: 0 0 0 120px;

		h1 {
			margin: 0;
			padding: 0;
			text-transform: uppercase;
			font-size: 1.75em;
		}

		p {
			text-align: left;
			margin-top: 10px;
			width: 75%;
		}

		a {
			margin-top: 10px;
		}
	}

	.about-us {
		background-image: image-url('book2.png');
	}

	.projects {
		background-image: image-url('hammer.png');
	}

	.contact {
		background-image: image-url('comments.png');
	}
}

.home-about {

	text-align: center;
	background-color: #efead4;
	background-image: url(cream1.jpg);

	h1 {
		padding: 50px 0;
	}

	.big-image {
		img {
			padding: 15px;
			background: white;
		}
	}

}

@media (max-width: 40em) {

	.modules {

		li {
			background-position: 10% 5px;
			padding: 0 0 40px 25%;
		}

	}

	.motto {
		font-size: 0.3em;
		text-align: center;
	}

	.motto-container {
		margin: 0 0 100px 0;
	}
}

