@import 'globals';

/*.parallax {
	perspective: 1px;
	overflow-x: hidden;
	overflow-y: auto;
}

.front-layer {
	transform: translateZ(0);
}

.back-layer {
	transform: translateZ(-1px);
}*/

.top-bg-image {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	background: url(kitchen2.jpg);
	background-size: cover;
	background-position: center center;
	z-index: -1;

	.texture {
		height: 100%;
		background-image: url(grey_texture.png);
	}

}

.motto-container {

	margin-top: 1.8em;
	margin-right: 10%;
	text-align: right;
	font-size: 2.25em;

	.motto {
		margin-top: 15px;
		display: inline-block;
		letter-spacing: 2px;
		color: #000;
		background-color: rgba(255, 255, 255, 0.8);
		padding: 10px;
	}

	.cursive {
		font-family: cursive;
		letter-spacing: 1px;
	}

}

.quote-container {

	margin: 2.25em 0 0 15%;
	padding: 20px;
	width: 40%;
	text-align: justify;
	line-height: 1.5;
	letter-spacing: 1.15px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.7);

	.quote-author {
		margin-top: 15px;
		font-style: italic;
	}

}

.modules {

	position: relative;
	color: #000;
	background-color: #fff;
	margin: 30px 0;

	.module {
		width: 29%;
		margin: 0 20px;
		padding-bottom: 30px;	

		p {
			text-align: justify;
		}
	}
}

