.projects-page {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #aaa), color-stop(1, #818181));
	background-image: -moz-linear-gradient(bottom, #818181 0%, #aaa 100%);
	background-image: -ms-linear-gradient(bottom, #818181 0%, #aaa 100%);
	background-image: -o-linear-gradient(bottom, #818181 0%, #aaa 100%);
	
	background-image: -webkit-linear-gradient(bottom, #818181 0%, #aaa 100%);
	background-image: linear-gradient(to top, #aaa 0%, #818181 100%);

	.title-bar {
		border-bottom: 6px solid #fff;
	}

	.left-bar {
		margin-top: 224px;
	}

	.right-bar {
		margin-top: 179px;
	}

	h1 {
		color: #fff;
		margin: 150px auto 0 auto;
	}

	dl {
		display: inline-block;
		text-align: center;
		margin: 30px 0;
	}

	img {
		padding: 10px;
		background: white;
	}

	.photos {
		margin: 30px 0;

		li {
			margin-top: 25px;
		}
	}

}